In [163]:
import pandas as pd
df = pd.read_csv('F:/Folder Arief/[Kuliah]/Semester 7/Data Mining/PRE PROCESSING/movie_sample_dataset.csv')

In [164]:
#Tampilkan data awal dari dataset

In [165]:
df.head()

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,Color,Martin Scorsese,240,116866727.0,Biography|Comedy|Crime|Drama,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,Color,Shane Black,195,408992272.0,Action|Adventure|Sci-Fi,Iron Man 3,2013,English,USA,200000000.0,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000
2,color,Quentin Tarantino,187,54116191.0,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,English,USA,44000000.0,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
3,Color,Kenneth Lonergan,186,46495.0,Drama,Margaret,2011,English,usa,14000000.0,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0
4,Color,Peter Jackson,186,258355354.0,Adventure|Fantasy,The Hobbit: The Desolation of Smaug,2013,English,USA,225000000.0,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000

In [166]:
#Perlu kita cek terlebih dahulu ukuran dari dataset

In [167]:
df.shape

(99, 13)

In [168]:
#Cek tipe data

In [169]:
df.dtypes

color                    object
director_name            object
duration                  int64
gross                   float64
genres                   object
movie_title              object
title_year                int64
language                 object
country                  object
budget                  float64
imdb_score              float64
actors                   object
movie_facebook_likes      int64
dtype: object

In [170]:
#Ubah missing value menjadi NaN

In [171]:
import numpy as np
df.replace(['?', 'N/A', 'n/a', 'Nan', 'nan', 'NaN', 'null', 'NULL','Null'],np.nan,inplace = True)
missing_percentage = df.isnull().sum() / len(df) * 100

print ("Total missing value:")
print (df.isnull().sum())
print ("\nPersentase missing value:")
print (missing_percentage)

Total missing value:
color                   11
director_name           13
duration                 0
gross                    8
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   4
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

Persentase missing value:
color                   11.111111
director_name           13.131313
duration                 0.000000
gross                    8.080808
genres                   1.010101
movie_title              0.000000
title_year               0.000000
language                 0.000000
country                  0.000000
budget                   4.040404
imdb_score               0.000000
actors                   0.000000
movie_facebook_likes     0.000000
dtype: float64

In [172]:
#Terdapat missing value pada color, director_name, gross, genres, dan budget
#Baris yang memuat nilai missing value pada gross dan budget akan dihapus karena kolom tersebut merupakan data yang penting dan berpengaruh

In [173]:
df_empty = df[df[['gross', 'budget']].isnull().any(axis=1)]

df.dropna(subset=["gross"], axis=0, inplace=True)
df.dropna(subset=["budget"], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True) #Reset index

In [174]:
print(df.isnull().sum())

color                   10
director_name           12
duration                 0
gross                    0
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   0
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

In [175]:
#Melihat ukuran dataset setelah drop baris

In [176]:
df.shape

(89, 13)

In [177]:
#Sudah tidak ada missing value pada kolom gross dan budget
#Mengisi missing value pada color

In [178]:
#Melihat data terbanyak
print("Jenis grafis movie paling umum: ",df['color'].value_counts().idxmax())

Jenis grafis movie paling umum:  Color

In [179]:
df["color"] = df["color"].replace(np.nan, "color")
df["color"] = df["color"].replace("Color", "color")

print(df["color"].value_counts())

color
color               87
color                1
 Black and White     1
Name: count, dtype: int64

In [180]:
#Masih terdapat data yang tidak konsisten

In [181]:
df[df["color"]!="color"]

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
2,color,Quentin Tarantino,187,54116191.0,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,English,USA,44000000.0,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
41,Black and White,Steven Spielberg,146,79883359.0,Drama|War,War Horse,2011,English,usa,66000000.0,7.2,"Jeremy Irvine,Benedict Cumberbatch,Eddie Marsan",28000

In [182]:
#Mengubah nilai data yang tidak konsisten pada indeks 2

In [183]:
df.loc[2, "color"]="color"
print(df["color"].value_counts())

color
color               88
 Black and White     1
Name: count, dtype: int64

In [184]:
#Selanjutnya mengisi missing value pada direktor
df[df["director_name"].isnull()]

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
5,color,NaN,183,330249062.0,Action|Adventure|Sci-Fi,Batman v Superman: Dawn of Justice,202,English,USA,250000000.0,6.9,"Henry Cavill,Lauren Cohan,Alan D. Purwin",197000
10,color,NaN,158,102515793.0,Crime|Drama|Mystery|Thriller,The Girl with the Dragon Tattoo,2011,English,USA,90000000.0,7.8,"Robin Wright,Goran Visnjic,Joely Richardson",54000
23,color,NaN,156,183635922.0,Adventure|Drama|Thriller|Western,The Revenant,2015,English,USA,135000000.0,8.1,"Leonardo DiCaprio,Tom Hardy,Lukas Haas",190000
27,color,NaN,151,228430993.0,Adventure|Drama|Sci-Fi,The Martian,2015,English,USA,108000000.0,8.1,"Matt Damon,Donald Glover,Benedict Wong",153000
30,color,NaN,150,182204440.0,Biography|Drama|History|War,Lincoln,2012,English,USA,65000000.0,7.4,"Joseph Gordon-Levitt,Hal Holbrook,Bruce McGill",71000
37,color,NaN,147,407197282.0,Action|Adventure|Sci-Fi,Captain America: Civil War,2016,English,USA,250000000.0,8.2,"Robert Downey Jr.,Scarlett Johansson,Chris Evans",72000
54,color,NaN,142,407999255.0,Adventure|Drama|Sci-Fi|Thriller,The Hunger Games,2012,English,USA,78000000.0,7.3,"Jennifer Lawrence,Josh Hutcherson,Anthony Reyn...",140000
63,color,NaN,139,150832203.0,Adventure|Mystery|Sci-Fi,Divergent,2014,English,USA,85000000.0,6.7,"Kate Winslet,Theo James,Mekhi Phifer",49000
67,color,NaN,138,150117807.0,Crime|Drama,American Hustle,2013,English,USA,40000000.0,7.3,"Jennifer Lawrence,Christian Bale,Bradley Cooper",63000
74,color,NaN,137,37304950.0,Biography|Crime|Drama,J. Edgar,2011,English,USA,35000000.0,6.6,"Leonardo DiCaprio,Naomi Watts,Kaitlyn Dever",16000
76,color,NaN,137,281666058.0,Adventure|Sci-Fi,The Hunger Games: Mockingjay - Part 2,2015,English,USA,160000000.0,6.6,"Jennifer Lawrence,Philip Seymour Hoffman,Josh ...",38000
83,color,NaN,136,52474616.0,Drama,Wall Street: Money Never Sleeps,2010,English,USA,70000000.0,6.3,"Frank Langella,Austin Pendleton,John Buffalo M...",13000

In [185]:
df.loc[5, "director_name"]="Zack Snyder"
df.loc[10, "director_name"]="David Fincher"
df.loc[23, "director_name"]="Alejandro González Inarritu"
df.loc[27, "director_name"]="Ridley Scott"
df.loc[30, "director_name"]="Steven Spielberg"
df.loc[37, "director_name"]="Anthony Russo, Joe Russo"
df.loc[54, "director_name"]="Gary Ross"
df.loc[63, "director_name"]="Neil Burger"
df.loc[67, "director_name"]="David O. Russell"
df.loc[74, "director_name"]="Clint Eastwood"
df.loc[76, "director_name"]="Francis Lawrence"
df.loc[83, "director_name"]="William Oliver Stone"

In [186]:
#Selanjutnya mengisi missing value pada direktor
df[df["genres"].isnull()]

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
11,color,Christopher Spencer,170,59696176.0,NaN,Son of God,2014,English,USA,22000000.0,5.6,"Roma Downey,Amber Rose Revah,Darwin Shaw",15000

In [187]:
df.loc[11, "genres"]="Comedy|History|Adventure|Drama"

In [188]:
#Memperbaiki outliers dan nilai negatif

In [189]:
df[(df["duration"] <= 30) | (df["duration"] > 300)]

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
6,color,Peter Jackson,-50,303001229.0,Adventure|Fantasy,The Hobbit: An Unexpected Journey,2012,English,USA,180000000.0,7.9,"Aidan Turner,Adam Brown,James Nesbitt",166000
15,color,Quentin Tarantino,580,162804648.0,Drama|Western,Django Unchained,2012,English,USA,100000000.0,8.5,"Leonardo DiCaprio,Christoph Waltz,Ato Essandoh",199000
31,color,Gore Verbinski,650,89289910.0,Action|Adventure|Western,The Lone Ranger,2013,English,USA,215000000.0,6.5,"Johnny Depp,Ruth Wilson,Tom Wilkinson",48000
88,color,Clint Eastwood,5,47034272.0,Biography|Drama|Music|Musical,Jersey Boys,2014,English,USA,40000000.0,6.9,"Johnny Cannizzaro,Steve Schirripa,Scott Vance",16000

In [190]:
avg_duration=df["duration"].astype('int').mean(axis=0)
avg_duration=round(avg_duration, -1)
print("Durasi rata-rata:", avg_duration)
df.loc[(df['duration'] <= 20) | (df['duration'] >= 3000), 'duration'] = avg_duration

Durasi rata-rata: 160.0

In [191]:
df[(df["imdb_score"] <= 0) | (df["imdb_score"] >= 10)]

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
9,color,Tom Tykwer,172,27098580.0,Drama|Sci-Fi,Cloud Atlas,2012,English,Germany,102000000.0,-7.5,"Tom Hanks,Jim Sturgess,Jim Broadbent",124000
77,color,Angelina Jolie Pitt,137,115603980.0,Biography|Drama|Sport|War,Unbroken,2014,English,USA,65000000.0,-1.2,"Finn Wittrock,Jack O'Connell,Alex Russell",35000

In [192]:
avg_imdb=df["imdb_score"].astype('float').mean(axis=0)
avg_imdb=round(avg_imdb, 1)
print("Score rata-rata:", avg_imdb)
df.loc[(df["imdb_score"] <= 0) | (df["imdb_score"] >= 10), "imdb_score"] = avg_imdb

Score rata-rata: 6.9

In [193]:
df[(df["title_year"] <= 1999) | (df["title_year"] >= 2024)]

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
5,color,Zack Snyder,183,330249062.0,Action|Adventure|Sci-Fi,Batman v Superman: Dawn of Justice,202,English,USA,250000000.0,6.9,"Henry Cavill,Lauren Cohan,Alan D. Purwin",197000
73,color,Daniel Espinosa,137,1206135.0,Crime|Drama|Thriller,Child 44,205,English,Czech Republic,50000000.0,6.4,"Tom Hardy,Fares Fares,Michael Nardone",18000

In [194]:
df.loc[5, "title_year"]="2016"
df.loc[73, "title_year"]="2015"

C:\Users\SISTEM\AppData\Local\Temp\ipykernel_8876\2042252684.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2016' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[5, "title_year"]="2016"

In [195]:
print(df.isnull().sum())

color                   0
director_name           0
duration                0
gross                   0
genres                  0
movie_title             0
title_year              0
language                0
country                 0
budget                  0
imdb_score              0
actors                  0
movie_facebook_likes    0
dtype: int64

In [196]:
#Mengubah tipe data kolom gross dan budget menjadi integer

In [197]:
df["gross"] = df["gross"].astype("int")
df["budget"] = df["budget"].astype("int")

In [198]:
df.dtypes

color                    object
director_name            object
duration                  int64
gross                     int64
genres                   object
movie_title              object
title_year               object
language                 object
country                  object
budget                    int64
imdb_score              float64
actors                   object
movie_facebook_likes      int64
dtype: object

In [199]:
#Memisahkan genres

In [200]:
#Menyesuaikan kapital teks 
df["country"]=df["country"].str.upper()
df["language"]=df["language"].str.lower()
df["color"]=df["color"].str.lower()

In [201]:
#Menyesuaikan penyingkatan nama negara
df["country"]=df["country"].replace({"UNITED STATES":"USA", "GERMANY":"DEU", "NEW ZEALAND":"NZ", "FRANCE":"FRA", "AUSTRALIA":"AU", "CZECH REPUBLIC":"CZ"})

In [202]:
df = df.drop_duplicates(subset="movie_title")
df.head()

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,color,Martin Scorsese,240,116866727,Biography|Comedy|Crime|Drama,The Wolf of Wall Street,2013,english,USA,100000000,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,color,Shane Black,195,408992272,Action|Adventure|Sci-Fi,Iron Man 3,2013,english,USA,200000000,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000
2,color,Quentin Tarantino,187,54116191,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,english,USA,44000000,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
3,color,Kenneth Lonergan,186,46495,Drama,Margaret,2011,english,USA,14000000,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0
4,color,Peter Jackson,186,258355354,Adventure|Fantasy,The Hobbit: The Desolation of Smaug,2013,english,USA,225000000,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000

In [204]:
df.to_csv('movie_dataset_cleaned.csv', index=False)